<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogin</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="back">
        <div class="heading txt">
            <h1 class="oswald-bold">Blog<span style="color: rgb(31, 90, 253);">in.</span></h1>
        </div>
        <div class="subt txt">
            <h4 class="fira">"Welcome to your new favorite corner of the internet! Dive into our world of stories, insights, and creativity where every post is a new adventure. Belive us, whether you're here for reading or writting, <strong>you're in the right place.</strong> "</h4>
        </div>
        <div class="quote oswald-bold" style="font-weight: 400; font-size: 1.6rem;">
            <h3>Your words matter. <span style="color: yellow;">Write them down.</span> </h3>
        </div>
        <form action="/login" method="get">
            <button class="log fira" type="submit">Log In</button>
        </form>
        <form action="/signin" method="get">
            <button class="sign fira" type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>