/* index.css */
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.err {
    text-align: center;
    background-color: #1f1f1f; /* Slightly lighter dark background for the error box */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Shadow for some depth */
}

h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 700; /* Bold text */
}
